.container {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.05), 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  &[disabled],
  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    -webkit-box-shadow: none;
    opacity: 0.7;

    &:hover {
      box-shadow: none;
    }
  }

  &.contained {

    &:hover,
    &:active {
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    }
  }

  &.outlined {
    &:hover,
    &:active {
      box-shadow: none;
    }
  }
}

.loadingContainer {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
  vertical-align: middle;
  display: inline-block;

  &.small {
    width: 15px;
    height: 15px;
    margin-top: -10px;
  }
}