.xAxis path,
.yAxis path {
    display: none;
}

.xAxis line,
.yAxis line {
    opacity: .3;
}

.column {
    fill: #e5e8ee;
}

.notification {
    opacity: .3;
    font-family: Arial, Helvetica, sans-serif;
}