.table {
    width: 100%;

    th {
        max-width: 100px;
        font-weight: 700;
    }

    td {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        a {
            color: #1890ff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.screenreaderVisible {
    top: 20px;
    clip: rect(0 0 0 0);
    width: 1px;
    border: 0;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;

    & + svg {
        transition: 0.2s;
    }
}